{
    "MarginLogicFunction": {
        "ALLOWED_ORIGIN": "http://localhost:5173",
        "EBAY_APP_ID": "YOUR_EBAY_APP_ID",
        "EBAY_CERT_ID": "YOUR_EBAY_CERT_ID",
        "EBAY_DEV_ID": "YOUR_EBAY_DEV_ID",
        "EBAY_CLIENT_ID": "YOUR_EBAY_CLIENT_ID",
        "EBAY_CLIENT_SECRET": "YOUR_EBAY_CLIENT_SECRET",
        "EBAY_ENVIRONMENT": "sandbox"
    }
}
